<!DOCTYPE html>
<html>
  <head>
    <title>Craw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Craw data from newspapers</h1>
      <div id="train-content1">
        <form method="post" id="train">
          <div class="form-item">
            <br />
            <input
              id="urlnum"
              name="urlnum"
              value="{{request.form.urlnum}}"
              type="text"
              placeholder="number of url"
            />
            <br />
            <br />
            <input
              id="keynum"
              name="keynum"
              value="{{request.form.keynum}}"
              type="text"
              placeholder="number of key"
            />
            <br />
          </div>

          <div class="form-action">
            <input type="submit" name="crawl" value="Begin load" />
          </div>
          <br />
          <br />
          <br />
          <div class="form-item">
            <label for="input-file">Urls</label>
            <br />
            {%for val in result['number_urls']:%}
            <input
              id="{{val}}"
              name="{{val}}"
              value="{{request.form[val]}}"
              type="text"
              placeholder="url"
            />
            <br />
            {%endfor%}
            <br />
            <br />
          </div>
          <div class="form-item">
            <label>key words</label>
            <br />
            {%for val in result['number_keys']:%}
            <input
              id="{{val}}"
              name="{{val}}"
              value="{{request.form[val]}}"
              type="text"
              placeholder="key word"
            />
            <br />
            {%endfor%}
          </div>
          <div class="form-action">
            <input type="submit" name="crawl" value="Begin crawl" />
          </div>
          <br />
          <br />
        </form>
      </div>
      <div>
        <table border="1">
          {%for key, value in result['data'].items():%}
          <tr>
            <th><a href="{{value[0]}}" target="_blank">{{ key }}</a></th>
            <!-- <td>{{ value[0] }}</td> -->
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </body>
</html>
